{% extends 'base.html' %}

{% block content %}
<section>
    <span class="image object">
        {% if user.image %}
        <img src="{{ request.user.image.url }}" style="width: 200px; height: 200px;" alt="" />
        {% else %}
        <img src="{{ request.user.image.default.url }}" style="width: 200px; height: 200px;" alt="" />
        {% endif %}
    </span>
    <div>
        <header>
            <h1>{{ request.user.username }}</h1>
        </header>
        <p>{{ request.user }}</p>
        <p>{{ request.user.date_joined }}</p>
    </div>
</section>

{% endblock %}