{% extends "base.html" %}
{% load bootstrap %}
{% block content %}

        <article class="media content-section">

          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.pub_date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2></div>
            <p class="article-content">{{ post.text }}</p>
            {% if post.video %}
            <video class="embed-responsive-16by9"  id="video-style" controls="controls" style="width: 550px; height: 500px;">
                <source src="{{ post.video.url }}" type="video/mp4" />
            </video>
            {% endif %}
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="...">
            {% endif %}
          {% if request.user == post.author %}
          <div class="MyButtons">
          <a href="{% url 'edit-post' post.id %}"><button>Edit</button></a>
          <a href="{% url 'delete-post' post.id %}"><button>Delete</button></a>
          </div>
          {% endif %}
        </article>
{% for comment in comments %}
{% if comment.post == post %}
<div class="container">
  <div>{{ comment.author }}|{{ comment.pub_date }} </div>
  <br>
  <div>{{ comment.description}}
  {% if request.user == comment.author %}
  <a href="{% url 'edit-comment' comment.id %}"><button type="submit">edit</button></a>
  <a href="{% url 'delete-comment' comment.id %}"><button type="submit">delete</button></a>
    {% endif %}
  <br>
  <br>
</div>
{% endif  %}
{% endfor %}

<form method="post">
  {% csrf_token %}
  {{form|bootstrap}}
<button type="submit">Submit</button></form>
{% endblock content %}


