{% extends "base.html" %}
{% block content %}
        <article class="media content-section">

          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.pub_date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2></div>
            <p class="article-content">{{ post.text }}</p>
            {% if post.video %}
            <video class="embed-responsive-16by9"  id="video-style" controls="controls" style="width: 550px; height: 500px;">
                <source src="{{ post.video.url }}" type="video/mp4" />
            </video>
            {% endif %}
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="...">
            {% endif %}
          <div class="MyButtons">
          <a href="{% url 'edit-post' post.id %}"><button>Edit</button></a>
          <a href="{% url 'delete-post' post.id %}"><button>Delete</button></a>
          </div>
        </article>

    {{ post.total_likes }} Like{{ total_likes|pluralize}}

    {% if request.user.is_authenticated %}
    <form action="{% url 'like_post' %}" method="post">
        {% csrf_token %}
        {% if is_liked %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger" >Dislike</button>
        {% else %}
         <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary" >Like</button>
        {% endif %}
    </form>
    {% endif %}
<br/><br/>
<hr>

<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Submit" class="btn btn-outline-success">
</form>



<div class="main-comment-section">
    {{ comments.count }} Comment{{ comments|pluralize }}
    {% for comment in comments %}
       <blockquote>
  <blockquote class="blockquote">
    <p class="mb-0">{{ comment.content}}</p>
  </blockquote>
   <footer class="blockquote-footer">by<cite title="Source Title">{{ comment.user|capfirst }}</cite>
  </footer>
</blockquote>
    {% endfor %}
</div>






{% endblock %}

